# Project Overview

The American prison system was never capable of handling the task they are believed to be handling because they were designed by the same people who wrote “All people are considered equal” because they didn’t consider people of color as people.

# Problem Description
The prison system is designed to increase the gap in economic and racial classes.

# Subject Matter Expertise
 
1. Statistics and Probability
2. Data Visualization
3. Data Analysis

# Assumptions
List any assumptions you may have about the topic. 
`Assumptions are a thing that is accepted as true or as certain to happen, without proof.`

# Steps to Explore the Topic and Problem

List the steps you're going to take to explore the topic using the data sources you identify and the techniques you already know. Please list them as step 1, step 2, step 3. Example:

1. Download data from U.S. Census
2. Web-scrape data from IMDB
3. Find the number of actors that do not live in california
4. Calculate the median salary for actors that do not live in California
5. Show the relationship between actors living in CA vs outside CA with pie chart
6. Show relationship between actors' salary living in CA vs outside CA with bar chart
7. Calculate median home price of homes in CA using web scrape data
8. Compare this to median salary for actors using bar chart
9. Make some intitial Conclusions on actor salary, location, and median home price on if actors can afford to live in CA.

# Data Sources:

In bulleted format, list where you will get data from. Data sources must include one existing data source and web-scrapted source. Example:

1. U.S. Census Estimates of the Total Resident Population and Resident Population Age 18 Years and Older for the United States, States, and Puerto Rico `https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/state/detail/SCPRC-EST2019-18+POP-RES.csv`
2. Kaggle Elon Musk Tweets 'https://www.kaggle.com/kingburrito666/elon-musk-tweets'

# Data Exploration
Describe the data using what you know. For larger datasets may have to pull out columns that are of interst to you.

# Data Cleaning
Show techniques you use to reduce impact of outliers, drop missing, or null values (if any). 

Must show the total number of null or missing values.

Must describe rows or columns dropped.

What was the strategy for dropping outliers?

# Describe the Data Using Descriptive Stats
Must show total number of rows and columns in dataset(s).

Use descriptive stats to tell us about your data. Must include mean, median, and mode where applicable. Also must talk about normality of data.

Remember what `standard deviation`, `mean`, `central tendency`, and `variance` mean for your data

# Data Visualization
Describe the plots you will use to visualize you data. Must use histogram, bar charts, and pie charts to describe aspects abou tthe data

# Topic Conclusions
Based on what you found about your topic communicate it to the audience. How did the data analysis steps you took help you solve the problem or find out more information about the problem. Example:

I wanted to explore if the average actor can live comfortably in California. I downloaded this dataset s and webscrapped this dataset. I did some stuff. I found that actors that live outside of california can afford to buy a home. Others can't. Blah blah blah blah

# Future Exploration
List what you wish you could do with more knowledge about the topic. Also use this section to save aspects of your data into a new csv file for use in this future exploration.

In [2]:
#importing libraries
import pandas as pd
import numpy as np 
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
race = pd.read_csv("p18t03.csv",encoding='cp1252')
population = pd.read_csv("Virginia Population by County.csv",encoding='cp1252')
diversity = pd.read_csv("VA Population by Race.csv", encoding='cp1252')

In [4]:
race_copy = race[10:20]
race_copy = race_copy.rename(columns={'Bureau of Justice Statistics': 'Year', 'Unnamed: 2':'Total', 'Unnamed: 4':'Federal','Unnamed: 6': 'State','Unnamed: 12':'White', 'Unnamed: 14':'Black','Unnamed: 16':'Hispanic'})
race_copy.drop(['Unnamed: 1','Unnamed: 3','Unnamed: 5','Unnamed: 7','Unnamed: 8','Unnamed: 10','Unnamed: 9','Unnamed: 11','Unnamed: 13','Unnamed: 15','Unnamed: 17'], axis=1)

    Year      Total  Federal      State    White    Black Hispanic
10  2008  1,547,742  182,333  1,365,409  499,900  592,800  329,800
11  2009  1,553,574  187,886  1,365,688  490,000  584,800  341,200
12  2010  1,552,669  190,641  1,362,028  484,400  572,700  345,800
13  2011  1,538,847  197,050  1,341,797  474,300  557,100  347,800
14  2012  1,512,430  196,574  1,315,856  466,600  537,800  340,300
15  2013  1,520,403  195,098  1,325,305  463,900  529,900  341,200
16  2014  1,507,781  191,374  1,316,407  461,500  518,700  338,900
17  2015  1,476,847  178,688  1,298,159  450,200  499,400  333,200
18  2016  1,459,948  171,482  1,288,466  440,200  487,300  339,600
19  2017  1,439,877  166,203  1,273,674  436,500  475,900  336,500

In [5]:
population_copy = population[3:230]
population_copy = population_copy.rename(columns={'table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts)':'County','Unnamed: 1':'Census','Unnamed: 2':'Estimates Base','Unnamed: 3':'2010','Unnamed: 4':'2011','Unnamed: 5':'2012','Unnamed: 6':'2013','Unnamed: 7':'2014','Unnamed: 8':'2015', 'Unnamed: 9':'2016','Unnamed: 10': '2017','Unnamed: 11':'2018', 'Unnamed: 12':'2019'})
population_copy

,County,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
3,"Abingdon town, Virginia","8,191","8,225","8,226","8,182","8,174","8,152","8,115","8,050","8,031","7,973","7,938","7,867"
4,"Accomac town, Virginia",519,509,502,508,508,497,496,501,494,495,488,485
5,"Alberta town, Virginia",298,298,297,293,291,288,284,282,281,277,272,270
6,"Alexandria city, Virginia","139,966","139,998","140,729","144,219","147,291","149,637","151,375","153,654","156,698","159,215","159,069","159,428"
7,"Altavista town, Virginia","3,450","3,452","3,456","3,444","3,446","3,449","3,458","3,458","3,458","3,446","3,428","3,406"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,"Williamsburg city, Virginia","14,068","13,700","13,727","14,109","14,526","14,617","14,580","14,800","14,884","14,994","15,002","14,954"
226,"Winchester city, Virginia","26,203","26,223","26,150","26,660","27,008","27,321","27,382","27,480","27,785","28,178","27,962","28,078"
227,"Windsor town, Virginia","2,626","2,613","2,618","2,615","2,620","2,635","2,661","2,682","2,697","2,716","2,748","2,758"
228,"Wise town, Virginia","3,286","3,235","3,238","3,231","3,203","3,174","3,120","3,081","3,040","2,994","2,949","2,906"
229,"Woodstock town, Virginia","5,097","5,064","5,071","5,097","5,129","5,127","5,153","5,168","5,174","5,218","5,241","5,258"

In [28]:
first_slice = diversity[28:35]
second_slice = diversity[37:38]
div = pd.concat([first_slice, second_slice])
div = div.rename(columns={'B03002':'Race','Hispanic or Latino Origin by Race':'USA','Unnamed: 3':'VA'})
div.drop(['Unnamed: 2', 'Unnamed: 4'], axis=1)

                                                Race     USA      VA
28                                       White alone  59.95%  61.07%
29                   Black or African American alone  12.37%  19.05%
30           American Indian and Alaska Native alone   0.68%   0.20%
31                                       Asian alone   5.61%   6.56%
32  Native Hawaiian and Other Pacific Islander alone   0.17%   0.05%
33                             Some other race alone   0.26%   0.27%
34                                Two or more races:   2.53%   3.09%
37                               Hispanic or Latino:  18.43%   9.70%

In [ ]:
this is ridiculous